.header__lang-link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  margin: 18px 18px 6px 0;
}

.header__lang-link:nth-child(2n) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    margin: 14px 18px 8px 0;
  }
}
