.place__url-heading {
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaa;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    margin: 0 16px;
  }
}
