.cover {
  position: relative;
  max-width: 1184px;
  max-height: 740px;
  margin: 92px auto 0;
  box-sizing: border-box;
  background-size: cover;
}

@media screen and (max-width: 1023px) {
  .cover {
    margin: 90px auto 0;
    max-height: 480px;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 66px auto 0;
    height: 200px;
    width: 320px;
  }
}