.place__link {
  font-style: normal;
  font-weight: normal;
  margin: 12px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  transition: opacity 0.3s ease;
}

.place__link:hover{
opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .place__link {
    margin: 12px 16px 0 16px;
  }
}
