.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 740px;
  max-width: 1184px;
  background-color: rgba(42, 44, 47, 0.3);
  transition: 0.6s ease;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    max-height: 640px;
    max-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    max-height: 480px;
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    max-height: 200px;
    max-width: 320px;
  }
}