.cover__background {
  height: 740px;
  max-width: 1184px;
  object-fit: cover;
  background-image: url("../../../images/background__to-the-baykal.jpg");
  background-size: 100%;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    height: 640px;
    max-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    height: 480px;
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    height: 200px;
    max-width: 320px;
  }
}
